.header {
  font-size: 1rem;
  text-align: center;
}

.main {
  font-size: 1rem;
  text-align: left;
  margin: 10px;
  padding: 0 10px;
  border: solid 1px #7f7f7f;
  border-radius: 10px;
  box-shadow: #909090 1px 1px 3px;
  overflow: hidden;
}

.tabNavLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px;
  list-style: none;
}

.tabLayout {
  list-style: none;
}

.tabItem {
  margin: 0 0 5px;
  padding: 5px;
  color: #ffffff;
  background: #ccc;
  border-radius: 10px;
  box-shadow: #909090 1px 1px 3px;
  overflow: hidden;
}